{:migratus
 {:store                :database
  :migration-dir        "migrations/"
  :init-script          "01.init.sql"
  :init-in-transaction? false
  :migration-table-name "migrations"
  :db
  {:dbtype     "postgresql"
   :dbname     "postgres"
   :host       #or [#env DATABASE_HOSTNAME "localhost"]
   :user       "postgres"
   :password   "postgres"
   :ssl        false
   :sslfactory "org.postgresql.ssl.NonValidatingFactory"}}}
